<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EJS Views Example">

    <title>EJS Views Example</title>

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="/../../header.js"></script>
  </head>

  <body>
    <main role="main" class="container">
		<div class="row">
			<div class="col-md-12">
				<script>
					header.display("April", "Auger", "Exercise 2.4");
				</script>
				<h1>EJS Views</h1>

				<div class="alert alert-success" role="alert">
					<strong>Name: </strong><%= firstName %> <%=lastName %><br />
					<strong>Address: </strong><%= address %>
				</div>
			</div>
		</div>
	</main><!-- /.container -->
  </body>

</html>