<ul id="accountTabs" class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link account-link" href="/view/<%= employeeId %>">View</a>
	</li>
	<li class="nav-item">
		<a class="nav-link account-link" href="/edit/<%= employeeId %>">Edit</a>
	</li>
	<li class="nav-item">
		<a class="nav-link account-link" href="/delete/<%= employeeId %>">Delete</a>
	</li>
</ul>