<ul id="accountTabs" class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link account-link" href="/view/<%= emp._id %>">View</a>
	</li>
	<li class="nav-item">
		<a class="nav-link account-link" href="/edit/<%= emp._id %>">Edit</a>
	</li>
</ul>